{% extends "base.html" %}

{% block content %}

<form method="post" class="form-horizontal">
    {% include "messages.html" %}

    {% include "reports/burns.html" %}

    <h1 class="text-center">{{ day.strftime("%A %d %b %Y") }}</h1>

    <nav>
        <ul class="pager">
            <li class="previous"><a href="{{ url_for('day_view', day=prev_day) }}"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li><a class="btn" href="?edit=true">Edit</a></li>
            <li class="next"><a href="{{ url_for('day_view', day=next_day) }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    {% if burns_score %}
        <div class="alert alert-{{ burns_score.for_display().status }}">
            Burns Score: {{ burns_score.burns_score }} - {{ burns_score.for_display().description }}
        </div>
    {% endif %}

    {% for group in groups %}
        <div class="row answered-question-group">
            <div class="col-xs-12">
                <h3>{{ group.name }}</h3>

                <table class="table table-condensed">
                    {% for question in group.ordered_questions %}
                        {% if question.id in user_answers %}
                            <tr>
                                <td>{{ question.prompt }}</td>
                                <td align="right">{{ user_answers[question.id].answer.text }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}